body{
    font-family:Arial, Helvetica, sans-serif;
}

.fondoTitle{
    height: 100%;
    width: 100%;
    margin-bottom: -5px;
}

.title{
    padding-top: 60px;
}

.BrInicio{
    display:flex;
    justify-content: space-between;
    background-color: black;
    height: 40px;
    padding: 15px;
}

.BtnBarraInicio{
    text-align: left;
    justify-content: left;
}


.Btnizq{
    border: 0px white solid;
    font-size: 20px;
    height: 30px;
    width: 180px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.BtnBarraInicioDer{
    cursor: pointer;
    text-align: right;
    justify-content: right;
    color: white;
}

.BtnBarraInicio button:hover{
    color: rgba(18, 212, 50, 0.788);
}

.BtnBarraInicioDer button:hover{
    color: rgba(18, 212, 50, 0.788);
}

.Contenedor1{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: 46px;
    margin-right: 46px;
}

.IzqContenedor{
    text-align: left;
    padding-top: 50px;
    font-size: 25px;
    color: black;
    padding-right: 120px;
    text-align: left;
}

.DerContenedor{
    color: aliceblue;
    text-align: right;
    margin-top: -100px;
    width: 800px;
    clip-path: circle(40.6% at 50% 50%);
}

.fondodonacion{
    width: 100%;
    height: auto;
    background-color: #343a40;
    color: #eee;
    border-radius: 6px;
}

.ContDonacionIzq{
    padding-top: 60px;
    font-size: 19px;
    text-align: left;
    margin-bottom: 36px;
    margin-top: -8px;
    margin-left: 28px;
    margin-right: 16px;
}

.ContDonacion{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgba(255, 255, 255, 0.945);
    margin: 24px;
}

.ContDonacion img{
    height: 500px;
    width: 900px;
    margin-top: 64px;
    margin-bottom: 36px;
    margin-left: 18px;
    margin-right: 36px;
    border-radius: 6px;
    border-left: 3px solid greenyellow;
}

.tarifasDonacion{
    margin-top: 24px;
    padding-bottom: 30px;
    margin-left: 18px;
    margin-right: 28px;
    display: flex;
    justify-content: space-between;
}

.tarifasDonacion button{
    background-color: greenyellow;
    border-radius: 8px;
    margin: 16px;
    padding: 12px;
    text-align:center;
    font-size: 22px;
    font-weight: bolder;
    width: 100vh;
    height: 60px;
}

.tarifasDonacion button:hover{
    background-color: rgba(172, 255, 47, 0.795);
}

.tarifasDonacion p{
    font-size: 20px;
    margin: 16px;
    font-weight: bold;
}

.ContDonacionIzq h4{
    color: greenyellow;
}

.ContDonacionIzq h1{
    margin-top: -20px;
}

